---
layout: default
title: Teaching Assistants
---

<h1>Teaching Assistants</h1>


<p>You do not need to get help from your specific section TAs: any TA can help you during <a href='office-hours.html'>office hours</a>. Your recitation TAs should however be your main point of contact for emails and specific question regarding previous HW grades.
</p>

<ul class="centered-list">
  {% for ta in site.data.tas %}

    <li class="flow-list-item">
      <div class="ta-box">
        <div class="ta-image">
          <img class="ta-image align-center" src="images/{{ ta.image }}" onerror="this.src='images/java.png';"/>
        </div>
        <div id="ta-description">
          {{ ta.name }}
          <br>
          <a href="mailto:{{ ta.email }}">
          {{ ta.email }}
          </a>
          <br>
          OS: {{ ta.os }}
          <br>
          Section: {{ ta.section }}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

</div>
